* {
  margin: 0;
  padding: 0;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.jumbotron p {
  margin: 0;
}

.jumbotron img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center 10%;
}

.projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

/* -------------------------- !!!!!!  Bootstrap Edit  !!!!!! */

.card-img-top {
  width: 100%;
  /* height: 15vw; */
  object-fit: cover;
  object-position: center;
}

@media (max-width: 787px) {
  .card-img-top {
    width: 100%;
    /* height: 20vw; */
    object-fit: cover;
    object-position: center;
  }
}
@media (max-width: 576px) {
  .card-img-top {
    width: 100%;
    /* height: 50vw; */
    object-fit: cover;
    object-position: center;
  }
  .justify-content-evenly {
    justify-content: center;
  }
}
